.styles4_section {
  display: flex;
  padding-top: 100px;
}
.half_width {
  width: 50%;
}
.styles4_div {
  width: 400px;
  height: 400px;
  text-align: justify;
  margin: 20px;
  margin-right: 30px;
  margin-left: 300px;
  background-color: white;
}
.half_width img {
  width: 70%;
  border-radius: 5px;
}
.section4_div_size {
  background-color: tomato;
  padding: 20px;
  margin: 20px;
  border-radius: 2px;
  width: 200px;
  text-align: center;
  color: white;
  font-size: 20px;
}
.styles4_div2 {
  width: 788px;
  height: 400px;
  text-align: left;
  background-color: white;
}
.half_width2 img {
  width: 70%;
  border-radius: 5px;
  margin-left: 200px;
}
